<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.defend.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activites.MagazineListActivity"
            android:screenOrientation="portrait"> </activity>
        <activity android:name=".activites.InfoSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.WarfareSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.EbookSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.BookSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.EbookDownloadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.IdeaInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.MyIdeasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.NewIdeaSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.NewIdeaFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.InfographicDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.BookBillingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.BookDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.MagazineDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.EBookDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.BookCartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.WarfareDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.EventDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activites.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>