<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.defend.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activites.WarfareSearchActivity"></activity>
        <activity android:name=".activites.EbookSearchActivity" />
        <activity android:name=".activites.BookSearchActivity" />
        <activity android:name=".activites.EbookDownloadActivity" />
        <activity android:name=".activites.IdeaInfoActivity" />
        <activity android:name=".activites.MyIdeasActivity" />
        <activity android:name=".activites.NewIdeaSecondActivity" />
        <activity android:name=".activites.NewIdeaFirstActivity" />
        <activity android:name=".activites.InfographicDetailActivity" />
        <activity android:name=".activites.BookBillingActivity" />
        <activity android:name=".activites.BookDetailActivity" />
        <activity android:name=".activites.EBookDetailActivity" />
        <activity android:name=".activites.BookCartActivity" />
        <activity android:name=".activites.WarfareDetailActivity" />
        <activity android:name=".activites.EventDetailActivity" />
        <activity android:name=".activites.NewsActivity" />
        <activity android:name=".activites.SignUpActivity" />
        <activity android:name=".activites.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.LoginActivity" />
        <activity
            android:name=".activites.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>